# Server Port
PORT=5001

# MongoDB Connection URI
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key_here

# TMDB API Configuration
TMDB_BEARER_TOKEN=your_tmdb_bearer_token_here
TMDB_BASE_URL=https://api.themoviedb.org/3

# ML Recommendation Model API Endpoint
RECOMMENDATION_API_URL=https://ml-movie-recomedetion-model.onrender.com/rec

# Environment & Client URL
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Nodemailer Email Credentials (for Password Reset)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password
